.intro {
  max-width: 720px;
  padding: 92px 0;
}

@media (max-width: 1024px) {
  .intro {
    margin: 0 auto;
  }
}

@media (max-width: 769px) {
  .intro {
    box-sizing: border-box;
    padding: 88px 24px;
  }
}

@media (max-width: 425px) {
  .intro {
    padding: 64px 16px;
  }
}
